* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    cursor: url(/icons/spaceShip.svg), auto;
}

html{
    font-size: 62.5%;
    
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
    
}

@font-face{
    font-family: 'KarmaticArcade';
    src: url('/font-styles/ka1.ttf');
}

@font-face{
    font-family: 'ArcadeClassic';
    src: url('/font-styles/ARCADECLASSIC.TTF');
}

@font-face{
    font-family: 'RobottoMono';
    src: url('/font-styles/RobotoMono-Regular.ttf');
}


header {
    background: #032550;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 4;
    font-family: ArcadeClassic;
    font-style: normal;
    font-size: 32px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#logo > a {
    position: relative;
    display: block;
    width: 30px;
    height: auto;
    line-height: 0px;
    /* background-color: magenta; */
    padding: 16px 16px 16px 10px;
    margin-left: 22px;
    cursor: url(/icons/hand.svg), auto;
}

#logo-z{
    width: 37px;
    height: 36px;
    /* cursor: url(/icons/hand.svg), auto; */
    /* background-color: #04C1FF; */
}


#navbar-main{
    position: relative;
    /* background-color: darkgoldenrod; */
    margin-right: 8px;
    display: block;
    cursor: url(/icons/hand.svg), auto;
}

.nav-link{
    position: relative;
    text-decoration: none;
    padding: 16px 16px 16px 16px;
    /* height: 32px; */
    color: #FFFFFF;
    display: inline-block;
    /* background-color: #F27405; */
    margin: 0 -2px;
    cursor: url(/icons/hand.svg), auto;
}


.nav-link:active{
    /* background: #F27405; */
}

.underline{
    display: block;
    height: 4px;
    width: 0%;
    background: rgba(255, 255, 255, 1);
}

.underline:visited{
    width: 98%;
}


#burger-menu{
    display: none;
    background-color: rgb(223, 157, 140);
    width: 40px;
    height: 40px;
    /* padding: 12px 8px 12px 8px; */
    margin: 8px 8px;
}
    
.menu-line{
    position: relative;
    display: block;
    width: 26px;
    height: 2.67px;
    /* line-height: 2.67px; */
    background-color: #DADADA;
    /* padding: 2px 16px 2px 16px; */
    margin: 0;
    border-radius: 4px;
    top: 18.67px;
    left: 7px;
}

.menu-line::before,
.menu-line::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #DADADA;
    border-radius: 4px;
}

.menu-line::before{
    top: 6.66px;
}

.menu-line::after{
    top: -6.67px;
}

#sect1-title-box{
    position: relative;
    padding: 10px 10px;
    background: #022859;
    top: 224px;
    color: #FFFFFF;
    width: 650px;
    left: calc(50% - 650px/2);
    z-index: 3;
}

h1{
    position: relative;
    font-family: KarmaticArcade;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 1rem;
}

h2{
    position: relative;
    font-family: ArcadeClassic;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.1rem;
}

.section1{
    position: relative;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0 32px 0 32px;
    /* background-color: #F27405; */
}

.btn{
    font-family: ArcadeClassic;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    letter-spacing: 0.3rem;
    display: block;
    text-align: center;
    cursor: url(/icons/hand.svg), auto;
    background: #001228;
    box-shadow: 0px 4px 0px #274972;
    color: #FFFFFF; 
    border-radius: 4px;
    border: none;
}

.btn:hover{
    background: #F27405;
    box-shadow: 0px 4px 0px #FFFFFF;
}

.btn:focus{
    outline: none;
}

#start-btn{
    
    width: 186px;
    height: 46px;
    top: 504px;
    left: calc(50% - 186px/2);
    transition: all 0.2s ease-in;
    scale: 2.0;
}


#spaceship{
    width: 100px;
    height:100px;
}


/*********************************
     SECTION 2 - Title and navbar
*********************************/

.section2{
    /* background: linear-gradient(179.96deg, #022859 0.05%, #5B728E 90.44%), #FFFFFF; */
    background: linear-gradient(179.96deg, #022859 0.05%, #5FA0F0 90.44%), #FFFFFF;
    height: auto;
    font-family: ArcadeClassic;
    color: #FFFFFF;
    padding: 80px 32px 32px 32px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    
}

#sect2-h3{
    position: relative;
    font-size: 60px;
    line-height: 61px;
    letter-spacing: 1rem;
}

#navbar-sect2{
    display: block;
    float: left;
    margin: 0 0 0 -16px;
    cursor: url(/icons/hand.svg), auto;
}

.nav-link-sect2{
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.3rem;
    /* background-color: #F27405; */
    padding: 16px 16px 8px 16px;
    margin: 0;
    color: #FFFFFF;
    cursor: url(/icons/hand.svg), auto;
}

.nav-link-sect2::after{
    content: "";
    height: 3px;
    width: 0%;
    background: #04C1FF;
    position: relative;
    display: block;
    bottom: 0px;
    visibility: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
}

.nav-link-sect2::after{
    width: 100%;
    /* background: #F27405; */
    visibility: visible;
}

.nav-link-sect2:active:after{
    background: #F27405;
    opacity: 1;
    width: 100%;
    visibility: visible;
    
}



.nav-link-sect2:hover:after{
    width: 100%;
    visibility: visible;
    opacity: 1;
}


.nav-link-sect2::before{
    content: "";
    height: 3px;
    width: 100%;
    background: #04C1FF;
    position: relative;
    display: none;
    bottom: -33px;
    /* visibility: hidden; */
    opacity: 1;
   
}

.nav-link-sect2:focus:before{
    display: block;
}

/***/





/***/



/*********************************
     SECTION 2 - Card grid
*********************************/

#grid-container-sect2{
    display: grid;
    position: relative;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: auto auto auto;
    margin-top: 80px;
    padding: 32px 32px 32px 32px;
    height: 680px;
    overflow: hidden;
    color: #333333;
    
}

.grid-item-sect2{
    cursor: url(/icons/hand.svg), auto;
    position: relative;
    background: #F2F2F2;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.02);
    border-radius: 16px;
    height: 306px;
    padding: 10px 10px;
    /* margin: 32px 0; */
    /* border: solid #001228 3px; */
}


.grid-item-sect2:hover{
    /* border: solid #F27405 3px; */
    background: #C4C4C4;
    box-shadow: 0px 40px 50px rgba(0, 31, 51, 0.12), 0px 25px 20px rgba(0, 9, 14, 0.12);
}


#load-btn{
    
    width: 186px;
    height: 46px;
    left: calc(50% - 186px/2);
    display: block;
    position: relative;
    margin-top: 25px;
}

#load-btn:hover{

}

.sect2-h4{
    position: relative;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 10px 0px; 
    /* margin: 16px 32px; */
    height: 56px;
    /* background-color: #5FA0F0; */
}

.grid-item-sect2 > p{
    position: relative;
    font-family: RobottoMono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    padding: 5px 10px;
    color: #333333;;
    position: relative;
    height: 150px;
    text-align: center;
    overflow: hidden;
    /* background-color: #F27405; */
}

.all-badges-container{
    position: absolute;
    display: flex;
    /* background-color: #022859; */
    position: relative;
    width: auto;
    height: 60px;
    float: right;
    /* margin: 5px 0 32px 0; */
    padding: 10px 16px 0px 0;
    
}

.badge-container{
    position: relative;
    display: block;
    padding: 0 5px;
    text-align: center;
    /* background-color: red; */
    /* left: calc(50% - 40px/2) */
}

.badge-container{
    /* background-color: #04C1FF; */
    width: 40px;
    height: 40px;
}

.badge-container > p{
    font-family: RobottoMono;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 160%;
    display: block;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 900px) {
  #grid-container-sect2 {
    grid-template-columns: auto auto;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #grid-container-sect2 {
    grid-template-columns: auto;
  }
}


/*********************************
     SECTION 3 - Title
*********************************/

.section3{
    background: linear-gradient(180deg, #5FA0F0 0%, #67A8F8 100%);
    height: auto;
    font-family: ArcadeClassic;
    color: #001228;
    padding: 80px 32px 32px 32px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    
}

#sect3-h3{
    position: relative;
    font-size: 60px;
    line-height: 61px;
    letter-spacing: 1rem;
}

.section3 p{
    font-family: RobottoMono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
}

#my-certificates{
    margin-top: 20px;
}

#my-certificates h4, 
#my-journey h4{
    /* font-family: ArcadeClassic; */
    /* font-style: normal; */
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.2rem;
    color: #001228;
    padding: 16px 0 0 0;
    /* background-color: #F27405; */
}


/*********************************
     SECTION 3 - Card grid
*********************************/

a {
    text-decoration: none;
    color: #333333;
}

#grid-container-sect3{
    display: grid;
    position: relative;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter)*2);
    /* margin-top: 0px; */
    /* margin-bottom: 30px; */
    padding: 16px 16px;
    /* left: 0; */
    /* background: red; */
    height: 260px;
    /* overflow: hidden; */
}

.grid-item-sect3{
    cursor: url(/icons/hand.svg), auto;
    position: relative;
    height: 200px;
    padding: 10px 10px;
    transition: all 0.2s ease-out;
    /* box-shadow: 0px 40px 50px rgba(0, 31, 51, 0.12), 0px 25px 20px rgba(0, 9, 14, 0.12); */
}

.grid-item-sect3:hover{
    transform: scale(1.1);
}

/* .grid-item-sect3:hover{
    border: solid #F27405 3px;
} */

.sect3-logo-cont-top{
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #FFFFFF;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    text-align: center;
}

img.sect3-logo{
    position: relative;
    width: 221px;
    height: 47px;
    top: calc(50% - 47px/2);
    /* background-color: #F27405; */
}

.sect3-logo-cont-bot{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    background: #BED8FB;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center;
    padding: 30px 0 0 0;
}

.sect3-logo-cont-bot p{
    padding: 0 10px;
    text-decoration: none;
    color: #001228;
    font-weight: 500;
}

/*********************************
     SECTION 3 - Testimonials
*********************************/

.testimonials{
    position: relative;
    font-family: RobottoMono;
    color: #001228;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 100px 0px;
    width: 800px;
    font-weight: 500;
    /* left: calc(50% - 800px/2); */
    /* background-color: #022859; */
}

.quote{
    font-size: 28px;
    line-height: 33px;
    padding: 10px 10px;
    height: 100px;
}

.person{
    font-size: 20px;
    line-height: 23px;
    padding: 10px 10px;
}

.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot-container{
    text-align:center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*********************************
     SECTION 3 - My Journey
*********************************/


/*********************************
     SECTION 4 - Title
*********************************/

.section4{
    background: linear-gradient(180deg, #5FA0F0 0%, #67A8F8 100%);
    height: auto;
    font-family: ArcadeClassic;
    color: #001228;
    padding: 80px 32px 32px 32px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    
}

#sect4-h3{
    position: relative;
    font-size: 60px;
    line-height: 61px;
    letter-spacing: 1rem;
}

.section4 p{
    font-family: RobottoMono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
}
form{
    /* height: 500px; */
    position: relative;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.form-input{
    position: relative;
    display: block;
    letter-spacing: 0.1em;
    height: 50px;

    color: rgba(255, 255, 255, 0.6);
    background: #0468BF;
}