* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #022859;
    cursor: url(/icons/spaceShip.svg), auto;
    /* overflow: hidden; */
}
html{
    font-size: 62.5%;
}

@font-face{
    font-family: 'KarmaticArcade';
    src: url('/font-styles/ka1.ttf');
}

@font-face{
    font-family: 'ArcadeClassic';
    src: url('/font-styles/ARCADECLASSIC.TTF');
}



header {
    background: #032550;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    font-family: ArcadeClassic;
    font-style: normal;
    font-size: 32px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#logo{
    position: relative;
    /* display: block; */
    width: auto;
    height: auto;
    line-height: 0px;
    /* background-color: magenta; */
    padding: 16px 16px 16px 32px;
    cursor: url(/icons/hand.svg), auto;
}

#logo-z{
    width: 37px;
    height: 37px;
}


#navbar-main{
    position: relative;
    /* background-color: darkgoldenrod; */
    margin-right: 8px;
    display: block;
    cursor: url(/icons/hand.svg), auto;
}

.nav-link{
    position: relative;
    text-decoration: none;
    padding: 16px 16px 16px 16px;
    /* height: 32px; */
    color: #FFFFFF;
    display: inline-block;
    /* background-color: #F27405; */
    margin: 0 -2px;
    cursor: url(/icons/hand.svg), auto;
}


.nav-link:active{
    background: #F27405;
}

.underline{
    display: block;
    height: 4px;
    width: 0%;
    background: rgba(255, 255, 255, 1);
}

.underline:hover{
    width:98%;
}



#burger-menu{
    display: none;
    background-color: rgb(223, 157, 140);
    width: 40px;
    height: 40px;
    /* padding: 12px 8px 12px 8px; */
    margin: 8px 8px;
}
    
.menu-line{
    position: relative;
    display: block;
    width: 26px;
    height: 2.67px;
    /* line-height: 2.67px; */
    background-color: #DADADA;
    /* padding: 2px 16px 2px 16px; */
    margin: 0;
    border-radius: 4px;
    top: 18.67px;
    left: 7px;
}

.menu-line::before,
.menu-line::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #DADADA;
    border-radius: 4px;
}

.menu-line::before{
    top: 6.66px;
}

.menu-line::after{
    top: -6.67px;
}

#sect1-title-box{
    position: relative;
    padding: 10px 10px;
    background: #022859;
    top: 224px;
    color: #FFFFFF;
    width: 650px;
    left: calc(50% - 650px/2);
    z-index: 3;
}

h1{
    position: relative;
    font-family: KarmaticArcade;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 1rem;
}

h2{
    position: relative;
    font-family: ArcadeClassic;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.1rem;
}

#section1{
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0 32px 0 32px;
}

.btn{
    font-family: ArcadeClassic;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    display: block;
    text-align: center;
}

#start-btn{
    background-color: #FFFFFF;
    width: 186px;
    height: 46px;
    top: 504px;
    /* line-height: 46px; */
    left: calc(50% - 186px/2);
    /* z-index: 0; */
    /* border-bottom: 1px solid red; */
    /* opacity: 1; */
}

/*********************************
     SECTION 2 - Title and navbar
*********************************/

#section2{
    background: linear-gradient(179.96deg, #022859 0.05%, #5B728E 90.44%), #FFFFFF;
    height: 100vh;
    font-family: ArcadeClassic;
    color: #FFFFFF;
    padding: 0 32px 0 32px;
    font-style: normal;
    font-weight: normal;
}

#sect2-h3{
    position: relative;
    font-size: 60px;
    line-height: 61px;
    letter-spacing: 1rem;
}

#navbar-sect2{
    display: block;
    float: left;
    margin: 0 0 0 -16px;
    cursor: url(/icons/hand.svg), auto;
}

.nav-link-sect2{
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.1rem;
    /* background-color: #F27405; */
    padding: 16px 16px 8px 16px;
    margin: 0;
    color: #FFFFFF;
    cursor: url(/icons/hand.svg), auto;
}

.nav-link-sect2::after{
    content: "";
    height: 3px;
    width: 0%;
    background: #04C1FF;
    position: relative;
    display: block;
    bottom: -2px;
    visibility: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
}

.nav-link-sect2:active:after{
    background: #F27405;
    opacity: 1;
    width: 100%;
    visibility: visible;
}



.nav-link-sect2:hover:after{
    width: 100%;
    visibility: visible;
    opacity: 1;
}

/*********************************
     SECTION 2 - Card grid
*********************************/

.grid-container-sect2{
    display: grid;
    position: relative;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: auto auto auto;
    margin-top: 80px;
    padding: 16px 16px;
    /* left: 0; */
    /* background: red; */
    height: 680px;
    overflow: hidden;
}

.grid-item-sect2{
    position: relative;
    background: #001228;
    border-radius: 40px;
    /* width: 100%; */
    height: 297px;
    padding: 10px 10px;
    border: solid #001228 3px;
}


.grid-item-sect2:hover{
    border: solid #F27405 3px;
}


#load-btn{
    background-color: #FFFFFF;
    width: 186px;
    height: 46px;
    left: calc(50% - 186px/2);
}

.sect2-h4{
    /* font-family: ArcadeClassic; */
    /* font-style: normal; */
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 32px; 
    margin: 0 32px;
    /* background: rosybrown; */
}

.grid-item-sect2 > p{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    padding: 10px 32px;
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .grid-container-sect2 {
    grid-template-columns: auto auto;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .grid-container-sect2 {
    grid-template-columns: auto;
  }
}