:root{
    --color-1: #032550;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    cursor: url(/icons/spaceShip.svg), auto;
}

html{
    font-size: 62.5%;
    /* overflow-y: hidden; */
    
}

body{
    overflow-y: hidden;
    /* overflow-x: hidden; */
    
}


@font-face{
    font-family: 'KarmaticArcade';
    src: url('/font-styles/ka1.ttf');
}

@font-face{
    font-family: 'ArcadeClassic';
    src: url('/font-styles/ARCADECLASSIC.TTF');
}

@font-face{
    font-family: 'RobottoMono';
    src: url('/font-styles/RobotoMono-Regular.ttf');
}


header {
    font-family: ArcadeClassic;
    font-style: normal;
    font-size: 32px;
    background: var(--color-1);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}



#logo > a {
    position: relative;
    display: block;
    width: 30px;
    height: auto;
    line-height: 0px;
    padding: 16px 16px;
    margin-left: 16px;
    cursor: url(/icons/hand.svg), auto;
    /* background-color: magenta; */
}

#logo-z{
    width: 37px;
    height: 36px;
    /* background-color: #04C1FF; */
}

.main-X-svg{
    width: 30px;
    height: 30px;
    padding: 16px;
    left: calc(100% - 62px);
    z-index: 10;
    /* background-color: #DADADA; */
    display: none;
}



#navbar-main{
    position: relative;
    margin-right: 16px;
    /* display: block; */
    display: flex;
    flex-direction: row;
    cursor: url(/icons/hand.svg), auto;
    /* background-color: darkgoldenrod; */
}


.nav-link{
    position: relative;
    text-decoration: none;
    padding: 16px 16px;
    color: #FFFFFF;
    display: inline-block;
    margin: 0 -2px;
    cursor: url(/icons/hand.svg), auto;
    /* background-color: #F27405; */
}

.visibility{
    display: none;
}

.underline{
    display: block;
    height: 4px;
    width: 0%;
    background: rgba(255, 255, 255, 1);
}

.underline:visited{
    width: 98%;
}


#sect1-title-box{
    position: relative;
    padding: 10px 10px;
    background: #022859;
    top: 274px;
    color: #FFFFFF;
    width: 650px;
    left: calc(50% - 650px/2);
    z-index: 3;
}

h1{
    position: relative;
    font-family: KarmaticArcade;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 1rem;
}

h2{
    position: relative;
    font-family: ArcadeClassic;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.1rem;
}

.section1{
    position: relative;
    height: 100%;
    /* min-height: 600px; */
    /* overflow: hidden; */
    /* margin: 0; */
    padding: 0 0px 0 0px;
    width: 100%;
    background-color: #022859;
}

.btn{
    font-family: ArcadeClassic;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    letter-spacing: 0.3rem;
    display: block;
    text-align: center;
    cursor: url(/icons/hand.svg), auto;
    background: #001228;
    box-shadow: 0px 4px 0px #274972;
    color: #FFFFFF; 
    border-radius: 4px;
    border: none;
}

.btn:hover{
    background: #F27405;
    box-shadow: 0px 4px 0px #FFFFFF;
}

.btn:focus{
    outline: none;
}

#start-btn{
    
    width: 186px;
    height: 46px;
    top: 400px;
    left: calc(50% - 186px/2);
    transition: all 0.2s ease-in;
    scale: 2.0;
}


#spaceship{
    position: absolute;
    width: 100px;
    height:100px;
    top: 270px;
    left: -10%;
    /* animation: flyRight 5s linear infinite; */
    z-index: 20; 
    display: none;
}

@keyframes flyRight{
    0%{left: -10%}
    20%{left: 20%}
    40%{left: 20%}
    60%{left: 60%}
    80%{left: 80%}
    100%{left: 110%}
}

.star-container{
    position: relative;
    background-color: red;
    /* z-index: 99; */
    width: 80%;
    height:90%;
}

/*********************************
     SECTION 2 - Title and navbar
*********************************/

.section2{
    /* background: linear-gradient(179.96deg, #022859 0.05%, #5B728E 90.44%), #FFFFFF; */
    background: linear-gradient(179.96deg, #022859 0.05%, #5FA0F0 90.44%), #FFFFFF;
    height: auto;
    font-family: ArcadeClassic;
    color: #FFFFFF;
    padding: 80px 0px 32px 0px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    width: 100%;
    
}

#sect2-h3{
    position: relative;
    font-size: 60px;
    line-height: 61px;
    letter-spacing: 1rem;
    padding: 0 32px;
}

#navbar-sect2{
    display: block;
    float: left;
    margin: 0 0 0 -16px;
    cursor: url(/icons/hand.svg), auto;
    padding: 0 32px;
}

.nav-link-sect2{
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.3rem;
    /* background-color: #F27405; */
    padding: 16px 16px 8px 16px;
    margin: 0;
    color: #FFFFFF;
    cursor: url(/icons/hand.svg), auto;
}

.nav-link-sect2::after{
    content: "";
    height: 3px;
    width: 0%;
    background: #04C1FF;
    position: relative;
    display: block;
    bottom: 0px;
    visibility: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
}

.nav-link-sect2::after{
    width: 100%;
    /* background: #F27405; */
    visibility: visible;
}

.nav-link-sect2:active:after{
    background: #F27405;
    opacity: 1;
    width: 100%;
    visibility: visible;
    
}



.nav-link-sect2:hover:after{
    width: 100%;
    visibility: visible;
    opacity: 1;
}


.nav-link-sect2::before{
    content: "";
    height: 3px;
    width: 100%;
    background: #04C1FF;
    position: relative;
    display: none;
    bottom: -33px;
    /* visibility: hidden; */
    opacity: 1;
   
}

.nav-link-sect2:focus:before{
    display: block;
}

#down-arrow{
    position: relative;
    width: 12px;
    height: 10px;
    left: 0px;
    top: -5px;
    margin-left: 5px;
    /* display: none; */
    /* z-index: 5; */
    /* background-color: aliceblue; */
}

#all-nav, #html-nav, #js-nav{
    /* display: none; */
}

#navbar-sect2-dropdownBtn{
    font-family: ArcadeClassic;
    position: relative;
    height: 30px;
    /* padding:  0 16px; */
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.3rem;
    background: transparent;
    border: none;
    /* display: none; */
    margin-left: 16px;
    color: white;
}

.btn-container{
    position: relative;
    top: 25px;
    display: none;
    /* background-color: red; */
    width: 250px;
}


/*********************************
     SECTION 2 - Card grid
*********************************/

#grid-container-sect2{
    display: grid;
    position: relative;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: auto auto auto;
    margin-top: 80px;
    padding: 32px 32px 32px 32px;
    height: 680px;
    overflow: hidden;
    color: #333333;
    
}

.grid-item-sect2{
    cursor: url(/icons/hand.svg), auto;
    position: relative;
    background: #F2F2F2;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.02);
    border-radius: 16px;
    height: 306px;
    padding: 10px 10px;
    /* margin: 32px 0; */
    /* border: solid #001228 3px; */
}


.grid-item-sect2:hover{
    /* border: solid #F27405 3px; */
    background: #C4C4C4;
    box-shadow: 0px 40px 50px rgba(0, 31, 51, 0.12), 0px 25px 20px rgba(0, 9, 14, 0.12);
}


#load-btn{
    
    width: 186px;
    height: 46px;
    left: calc(50% - 186px/2);
    display: block;
    position: relative;
    margin-top: 25px;
}

#load-btn:hover{

}

.sect2-h4{
    position: relative;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 10px 0px; 
    /* margin: 16px 32px; */
    height: 56px;
    /* background-color: #5FA0F0; */
}

.grid-item-sect2 > p{
    position: relative;
    font-family: RobottoMono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    padding: 5px 10px;
    color: #333333;;
    position: relative;
    height: 150px;
    text-align: center;
    overflow-y: hidden;
    /* background-color: #F27405; */
}

.all-badges-container{
    position: absolute;
    display: flex;
    /* background-color: #022859; */
    position: relative;
    width: auto;
    height: 60px;
    float: right;
    /* margin: 5px 0 32px 0; */
    padding: 10px 16px 0px 0;
    
}

.badge-container{
    position: relative;
    display: block;
    padding: 0 5px;
    text-align: center;
    /* background-color: red; */
    /* left: calc(50% - 40px/2) */
}

.badge-container{
    /* background-color: #04C1FF; */
    width: 40px;
    height: 40px;
}

.badge-container > p{
    font-family: RobottoMono;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 160%;
    display: block;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}




/*********************************
     SECTION 3 - Title
*********************************/

.section3{
    background: linear-gradient(180deg, #5FA0F0 0%, #67A8F8 100%);
    height: auto;
    font-family: ArcadeClassic;
    color: #001228;
    padding: 80px 0px 32px 0px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    width: 100%;
    
}

#sect3-h3{
    position: relative;
    font-size: 60px;
    line-height: 61px;
    letter-spacing: 1rem;
    padding: 0px 32px 0 32px;
    /* margin-top: 20px; */
}

.section3 p{
    font-family: RobottoMono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    padding: 0 32px;
}

#sect3-p{
    text-align: center;
    padding: 32px 32px;

}

#my-certificates{
    /* margin-top: 20px; */
    padding: 20px 32px 0 32px;
}

#my-certificates h4, 
#my-journey h4{
    /* font-family: ArcadeClassic; */
    /* font-style: normal; */
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.2rem;
    color: #001228;
    padding: 16px 0px 0 0px;
    /* background-color: #F27405; */
}


/*********************************
     SECTION 3 - Certificate Card grid
*********************************/


#carousel-container-sect3{
    position: relative;
    /* background: red; */
    height: 340px;
    width: 100%;
    margin: 0 auto;
    
}


.carousel-btn{
    position: absolute;
    width: 48px;
    height: 48px;
    z-index: 1;
    background: #001228;
    border-radius: 50%;
    margin-top: calc(170px - 48px/2);
    /* display: block; */
    cursor: url(/icons/hand.svg), auto;
    /* display: none; */
    padding: 0;
    outline: none;
}

.arrow-svg{
    position: absolute;
    width: 56px;
    height: 56px;
    top: calc(50% - 48px/2);
    left: calc(50% - 56px/2);
}

.carousel-btn--right{
    right: 10px;
    top:0;
    /* transform: rotate(180deg); */
}

.carousel-btn--left{
    left: 0;
    top:0;
    transform: rotate(180deg);
}

#carousel-track-sect3{
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 25%);
    /* background: green; */
    width: 95%;
    height: 300px;
    padding: 0px 15px;
    margin: 0 auto;
    top: 20px;
    /* left: -200px; */
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333333;
}

.grid-item-sect3{
    cursor: url(/icons/hand.svg), auto;
    position: relative;
    display: block;
    height: 260px;
    width: auto;
    margin: 20px 16px 0 16px;
    transform: translateX(0);
    transform: scale(1.0);
    transition: all 0.2s ease-out;
    
    left: 0px;
}

.grid-item-sect3:hover{
    transform: scale(1.1);
}

/* .grid-item-sect3:hover{
    border: solid #F27405 3px;
} */

.sect3-logo-cont-top{
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #FFFFFF;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    text-align: center;
}


img.sect3-logo{
    position: relative;
    width: 221px;
    height: 47px;
    top: calc(50% - 47px/2);
    /* background-color: #F27405; */
}

img.fcc-logo{
    top: 30px;
    display: block;
    margin: 0 auto;
}

.sect3-logo-cont-bot{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    background: #BED8FB;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center;
    /* padding: 30px 0 0 0; */
}

.sect3-logo-cont-bot p{
    padding: 0 10px;
    text-decoration: none;
    color: #001228;
    font-weight: 500;
    margin-top: 30px;
}

/*********************************
     SECTION 3 - Testimonials
*********************************/

.testimonials{
    position: relative;
    font-family: RobottoMono;
    color: #001228;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.1em;
    /* margin: 100px 0px; */
    width: 90%;
    font-weight: 500;
    /* left: calc(50% - 800px/2); */
    /* background-color: #a8ca72; */
    /* max-width: 1000px; */
    margin: 100px auto;
}

p.quote{
    font-size: 20px;
    line-height: 33px;
    padding: 10px 10px;
    /* height: 100px; */
}

p.person{
    position: relative;
    font-size: 20px;
    line-height: 23px;
    height: auto;
    padding: 30px 10px;
    font-weight: bold;
    /* background-color: aqua; */
}

.mySlides {display: none;}

.dot-container{
    text-align:center;
    padding: 0px 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/*********************************
     SECTION 3 - My Journey
*********************************/

#my-journey{
    padding: 0 32px;
}
.journey-container{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.journey-entry{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.journey-entry .journey-date{
    font-size: 24px;
    position: relative;
    width: 150px;
    /* flex-grow: 2; */
    height: 50px;
    letter-spacing: 0.1rem;
    /* background-color: #333333; */
    font-style: normal;
    font-weight: bold;
    padding: 15px 0;
    
}

.journey-entry .journey-activity{
    font-size: 20px;
    letter-spacing: 0.1rem;
    /* background: green; */
    width: 70%;
    padding: 15px 0;
}


.journey-entry .journey_easteregg{
    position: relative;
    /* background: red; */
    width: 60px;
    /* margin: 0 auto; */
    /* padding: 0 16px; */
    left: 16px;
}

#green_gem{
    /* top: 1080px; */
    /* left: -350px; */
    width: 50%;
}

#coin1{
    /* top: 1260px;
    left: 800px; */
    width: 60%;
}

#coin2{
    /* top: 1550px;
    left: 490px; */
    width: 35%;
}

#coin3{
    /* top: 1875px;
    left: 900px; */
    width: 55%;
}

.coin_svg{
    position: relative;
    top: 10px;
    left: 5px;
}

.glow{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fcee30;
    /* filter: blur(10px); */
    opacity: 0.4;
    top: -4px;
    left: -10px;
    animation: glow 1s ease-in infinite alternate;
    display: block;
    
}

@keyframes glow{
    0%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.5);
    }
}

.gem_svg, .coin_svg{
    transition: scale(1.0);
    animation: scale 1s ease-in infinite alternate;
}

@keyframes scale{
    0%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.08);
    }
}

.journey_popup{
    position: absolute;
    width: 220px;
    /* height: auto; */
    background: #022859;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.02);
    border-radius: 16px;
    color: #FFFFFF;
    padding: 20px 0px;
    /* letter-spacing: 0.1rem; */
    left: -260px;
    display: none;
    z-index: 5;
}

.journey_popup .popup_date{
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.journey_popup .popup_text{
    position: relative;
    /* font-weight: 500; */
    font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
}



/*********************************
     SECTION 4 - Title
*********************************/

.section4{
    background: linear-gradient(180deg, #67A8F8 0%, #7fb1f0 100%);
    height: auto;
    font-family: ArcadeClassic;
    color: #001228;
    padding: 80px 0px 32px 0px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    width: 100%;
}

#cloud-1{
    position: absolute;
    top: 100px;
    left: 50px;
}

#cloud-2{
    position: absolute;
    top: 50px;
    left: 300px;
}

#cloud-3{
    position: absolute;
    top: 150px;
    right: 200px;
}

#cloud-4{
    position: absolute;
    top: 70px;
    right: 0px;
}

.contact-form-container{
    position: relative;
    width: 900px;
    /* background: red; */
    height: 730px;
    left: calc(50% - 900px/2);
    top: 50px;
}

#sect4-h3{
    position: relative;
    font-size: 60px;
    line-height: 61px;
    letter-spacing: 1rem;
    text-align: center;
}

.section4 p{
    font-family: RobottoMono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-align: center;
}

form{
    /* height: 500px; */
    position: relative;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.form-field textarea{
    height: 300px;
    padding-top: 16px;
}

.form-input{
    width: 865px;
    position: relative;
    display: block;
    letter-spacing: 0.1em;
    height: 50px;
    border-style: none;
    color: rgba(255, 255, 255, 0.6);
    background: #0468BF;
    margin: 10px 0;
}

.form-input{
    font-family: RobottoMono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1rem;
    padding: 9px 16px;
    color: #FFFFFF;
}

.form-input:focus{
    background: #FFFFFF;
    outline: none;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    /* margin: 0 0px 0 16px; */
}

.form-input::placeholder{
    font-family: RobottoMono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    /* padding: 9px 16px; */
    color: rgba(255, 255, 255, 0.6);
}

.submit-btn{
    float: right;
    font-family: ArcadeClassic;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    /* line-height: 40px; */
    width: 202px;
    height: 42px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

#js-form-response{
    position: relative;
    display: block;
    top: 30px;
    /* text-align: center; */
    float: right;
    width: 100%;
    /* background: green; */
}


/*********************************
     FOOTER
*********************************/

.grass{
    position: relative;
    width: 100%;
    background: #108D25;
    height: 113px;
    bottom: 0;
    /* display: block; */
}  

.ground{
    position: relative;
    width: 100%;
    height: 90%;
    top: 13px;
}

.contact-icons{
    width: 200px;
    position: relative;
    left: calc(50% - 100px);
    top: -60px;
    z-index: 3;
    /* height: 50px; */
    background: red;
    /* display: block; */
}

.git-footer, .email-footer, .linkedin-footer{
    cursor: url(/icons/hand.svg), auto;
    /* background-color: #022859; */
    /* height: 50px; */
    width: 50px;
    display: block;
    float: right;
}

.email-footer{
    margin: 0 25px;
    /* background-color: #0468BF; */
}