@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    #logo{
        padding: 8px 16px 0px 18px;
    }

    #logo-z{
        width: 37px;
        height: 36px;
    }

    #navbar-main{
        display: none;
    }

    #burger-menu{
        display: block;
    }

    h1{
    /* position: relative; */
    /* color: #FFFFFF; */
    font-family: KarmaticArcade;
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 28px;
    line-height: 32px;
    /* text-align: center; */
    letter-spacing: 0.2rem;
    top: 232px;
}

h2{
    /* position: relative; */
    /* color: #FFFFFF; */
    font-family: ArcadeClassic;
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 28px;
    line-height: 28px;
    /* text-align: center; */
    letter-spacing: 0.3rem;
    top: 260px;
}


}