/********************************************
     Modal visibility ON/OFF switches
********************************************/

.modal-background{
    /* display: none; */
    display: block;
}

#tribute-page-modal{
    display: none;
    /* display: block; */
}

#survey-form-modal{
    display: none;
    /* display: block; */
}

#product-page-modal{
    display: none;
    /* display: block; */
}

#palindrome-checker-modal{
    display: none;
    /* display: block; */
}

#romanNumeral-converter-modal{
    display: none;
    /* display: block; */
}

#ceasars-cipher-modal{
    display: none;
    /* display: block; */
}

#phoneNumber-validator-modal{
    display: none;
    /* display: block; */
}

#cashRegister-function-modal{
    display: none;
    /* display: block; */
}

#adding-report-modal{
    display:none;
    /* display: block; */
}

#element-quiz-modal{
    display:none;
    /* display: block; */
}

#ticTacToe-modal{
    display:none;
    /* display: block; */
}

#folder-comparison-modal{
    display:none;
    /* display: block; */
}

/* add this code to body with js once modal is opened to prevent background from scrolling */
/* body{
    position: fixed;
    overflow: hidden;
    height: 100%;
} */

/*********************************
     SECTION 2 - WORK CARD MODAL
*********************************/

@font-face{
    font-family: 'RobottoMono';
    src: url('/font-styles/RobotoMono-Regular.ttf');
}

.modal-background{
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* overflow: auto; */
    /* overflow-y: hidden; */
    background: rgba(2,40,89, 0.8);
    /* opacity: 0.8; */
}

.modal{
    position: absolute;
    width: 600px;
    height: 657px;
    background: #001228;
    border: none;
    border-radius: 40px;
    left:calc(50% - 600px/2);
    top: calc(50% - 657px/2);
    opacity: 1;
    font-family: ArcadeClassic;
    /* overflow: hidden; */
    color: #FFFFFF;
}

.modal-header h4{
    position: relative;
    font-size: 30px;
    line-height: 30px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.3rem;
    /* background: red; */
    margin: 32px 32px 0 32px;
    padding: 0 0 15px 0;
    font-style: normal;
    font-weight: normal;
}

.X-svg{
    /* background-color: #F27405; */
    position: relative;
    width: 32px;
    height: 32px;
    float: right;
    top: -60px;
    right: 30px;
    padding: 5px 5px;
    cursor: url(/icons/hand.svg), auto;
    transition: transform 0.2s ease-in;
}

.X-svg:hover{
    transform: rotate(90deg);
}

.modal-header hr{
    position: relative;
    margin: 0 32px 15px 32px;
}

.modal-header hr,
.modal-footer hr{
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.modal-body{
    position: relative;
    margin: 0 32px 15px 32px;
    height: 452px;
    /* height: 100%; */
    overflow: scroll;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* background: orange; */
}

.modal-body h5{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2rem;
    font-weight: normal;
    font-style: normal;
    padding-top: 16px;
}

.modal-body > p, .modal-body > ul{
    font-family: RobottoMono;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2rem;
    font-weight: normal;
    font-weight: 500;
}

.modal-body > ul{
    margin-left: 30px;
    display: block;
}


/* Custom scrollbar style */
/* width */
.modal-body::-webkit-scrollbar {
  width: 10px; 
}

/* Track */
.modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb{
    height: 10px;
}

.modal-footer{
    position: relative;
    height: 80px;
    margin: 0 32px;
    /* background: red; */
    font-family: ArcadeClassic;
    font-style: normal;
    font-weight: normal;
}

.modal-btn{
    position: relative;
    font-family: ArcadeClassic;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    float: right;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.3rem;
    border: none;
    cursor: url(/icons/hand.svg), auto;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}

.view-project-btn{
    position: relative;
    color: #FFFFFF;
    background: #385F92;
    box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
    margin: 22px 0 0 16px;
    padding: 11px;
    /* border-radius: 10px; */
    text-decoration: none;
}

.git-btn{
    position: relative;
    background: #385F92;
    box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
    margin: 22px 0 0 0;
    /* padding-right: 16px; */
    line-height: 0;
    font-size: 0;
    letter-spacing: 0;
    
}

.git-svg{
    width: 46px;
    height: 47px;
}

.modal-btn:hover{
    background: #F27405;
    box-shadow: 0px 4px 0px #FFFFFF;
}


/***********************************
     SECTION 3 - CERTIFICATE MODAL
***********************************/

