body{
    background-color: #022859;
}

.hover-radius{
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 40px;
    /* background:rgba(255, 0, 0, 0.2); */
    z-index: 1;
    
}
.outer-square{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    transform: scale(1);
    /* transition: all 1ms ease-in;   */
    /* z-index: 10; */
    background-color: rgba(255, 255, 255, 0.2);
}

/* .hover-radius:hover{
    transform: scale(1.2);
} */

.inner-square{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    /* z-index: 5; */
}

#inner-top{
    left: 5px;
}

#inner-bot{
    left: 5px;
    top: 10px;
}

#inner-left{
    top: 5px;
}

#inner-right{
    left: 10px;
    top: 5px;
}

#inner-mid{
    left: 5px;
    top: 5px;
}

#pos1{
    position: absolute;
    left: calc(30/1280 * 100%);
    top: calc(124/1280 * 100%);
    transform: scale(0.5);
}

#pos2{
    position: absolute;
    left: calc(48/1280 * 100%);
    top: calc(200/1280 * 100%);
}

#pos3{
    position: absolute;
    left: calc(18/1280 * 100%);
    top: calc(375/1280 * 100%);
}

#pos4{
    position: absolute;
    left: calc(53/1280 * 100%);
    top: calc(457/1280 * 100%);
}

#pos5{
    position: absolute;
    left: calc(23/1280 * 100%);
    top: calc(576/1280 * 100%);
    transform: scale(0.5);
}

#pos6{
    position: absolute;
    left: calc(123/1280 * 100%);
    top: calc(128/1280 * 100%);
}

#pos7{
    position: absolute;
    left: calc(153/1280 * 100%);
    top: calc(237/1280 * 100%);
}

#pos8{
    position: absolute;
    left: calc(123/1280 * 100%);
    top: calc(324/1280 * 100%);
}

#pos9{
    position: absolute;
    left: calc(128/1280 * 100%);
    top: calc(431/1280 * 100%);
    transform: scale(1.5);
}

#pos10{
    position: absolute;
    left: calc(128/1280 * 100%);
    top: calc(500/1280 * 100%);
    transform: scale(0.5);
}

#pos11{
    position: absolute;
    left: calc(151/1280 * 100%);
    top: calc(610/1280 * 100%);
}

#pos12{
    position: absolute;
    left: calc(238/1280 * 100%);
    top: calc(74/1280 * 100%);
    transform: scale(1.5);
}

#pos13{
    position: absolute;
    left: calc(305/1280 * 100%);
    top: calc(179/1280 * 100%);
    transform: scale(0.5);
}

#pos14{
    position: absolute;
    left: calc(270/1280 * 100%);
    top: calc(296/1280 * 100%);
}

#pos15{
    position: absolute;
    left: calc(304/1280 * 100%);
    top: calc(395/1280 * 100%);
    transform: scale(0.5);
}

#pos16{
    position: absolute;
    left: calc(275/1280 * 100%);
    top: calc(548/1280 * 100%);
    transform: scale(1.5);
}

#pos17{
    position: absolute;
    left: calc(374/1280 * 100%);
    top: calc(69/1280 * 100%)
}

#pos18{
    position: absolute;
    left: calc(411/1280 * 100%);
    top: calc(463/1280 * 100%);
    transform: scale(1.5);
}

#pos19{
    position: absolute;
    left: calc(494/1280 * 100%);
    top: calc(154/1280 * 100%);
}

#pos20{
    position: absolute;
    left: calc(634/1280 * 100%);
    top: calc(89/1280 * 100%)
}

#pos21{
    position: absolute;
    left: calc(626/1280 * 100%);
    top: calc(184/1280 * 100%);
    transform: scale(0.5);
}

#pos22{
    position: absolute;
    left: calc(775/1280 * 100%);
    top: calc(119/1280 * 100%);
    transform: scale(1.5);
}

#pos23{
    position: absolute;
    left: calc(881/1280 * 100%);
    top: calc(109/1280 * 100%);
}

#pos24{
    position: absolute;
    left: calc(849/1280 * 100%);
    top: calc(366/1280 * 100%);
    
}

#pos25{
    position: absolute;
    left: calc(801/1280 * 100%);
    top: calc(458/1280 * 100%);
    transform: scale(0.5);
}

#pos26{
    position: absolute;
    left: calc(881/1280 * 100%);
    top: calc(563/1280 * 100%);
    transform: scale(1.5);
}

#pos27{
    position: absolute;
    left: calc(1042/1280 * 100%);
    top: calc(174/1280 * 100%);
    transform: scale(0.5);
}

#pos28{
    position: absolute;
    left: calc(964/1280 * 100%);
    top: calc(311/1280 * 100%);
}

#pos29{
    position: absolute;
    left: calc(1062/1280 * 100%);
    top: calc(351/1280 * 100%);
    transform: scale(1.5);
}

#pos30{
    position: absolute;
    left: calc(1005/1280 * 100%);
    top: calc(463/1280 * 100%);
}

#pos31{
    position: absolute;
    left: calc(1142/1280 * 100vw);
    /* left: 50%; */
    top: calc(149/1280 * 100%);
}

#pos32{
    position: absolute;
    left: calc(1180/1280 * 100vw);
    /* left: 50%; */
    top: calc(199/1280 * 100%);
    transform: scale(0.5);
}

#pos33{
    position: absolute;
    left: calc(1110/1280 * 100vw);
    top: calc(256/1280 * 100%);
    transform: scale(1.5);
}

#pos34{
    position: absolute;
    left: calc(900/1280 * 100vw);
    top: calc(268/1280 * 100%);
}

#pos35{
    position: absolute;
    left: calc(1160/1280 * 100vw);
    top: calc(394/1280 * 100%);
    
}

#pos36{
    position: absolute;
    left: calc(1141/1280 * 100vw);
    top: calc(483/1280 * 100%);
    transform: scale(0.5);
}

#pos37{
    position: absolute;
    left: calc(1093/1280 * 100vw);
    top: calc(583/1280 * 100%);
}

#pos38{
    position: absolute;
    left: calc(1165/1280 * 100vw);
    top: calc(590/1280 * 100%);
}

#pos39{
    position: absolute;
    left: calc(1105/1280 * 100vw);
    top: calc(659/1280 * 100%);
}



